.all {
    display: flex;
    justify-content: center;
    height: 1100px;
}

.text_page_h3 {
    position: absolute;
    height: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

.text_page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    top: 20px;
    background-color: rgb(172, 187, 230);
    border-radius: 20px;
}

.banner {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 98%;
    top: 70px;

}

.images1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 98%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.function_picture {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 400px;
    width: 90%;
    height: 650px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.images2 {
    position: absolute;
    display: flex;
    justify-content: centers;
    width: 95%;


}

.images3 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 98%;
    top: 310px;


}