.all {
    display: flex;
    justify-content: center;
    height: 850px;
}

.banner {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 95%;

}

.images1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 96%;
    height: 220px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

}

.function_picture {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 270px;
    height: 150px;
    width: 98%;
    height: 150px;
}

.images_box {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 6%;
}

.images2 {
    width: 60%;
    margin-left: 10px;
}

.crack_introduce {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 120px;
}

.images3 {
    width: 98%;

}
